@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(226, 228, 232);
}

table {
  border-collapse:separate; 
  border-spacing: 1em;
}

.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}